#{extends 'main.html' /}
<div class="loading">
	<div class="centered">
		<img class="spinner" src="@{'public/images/spinner.svg'}">
	</div>
</div>
<div class="app-items-index">
	<div class="container">
		<div class="view-title">
			<h1 class="title-text">Brawler Stats</h1>
			<p class="legend">Here you can <span>watch stats from all the Brawlers</span> and filter them by region.</p>
		</div>

		<div class="divider"></div>

		<div class="dropdownHolder">
			<div class="dropdown">
				<button type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					NA
				</button>
				<ul id="dropDown1" class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li><a href="#">BR</a></li>
					<li><a href="#">EUNE</a></li>
					<li><a href="#">EUW</a></li>
					<li><a href="#">KR</a></li>
					<li><a href="#">LAN</a></li>
					<li><a href="#">LAS</a></li>
					<li><a href="#">NA</a></li>
					<li><a href="#">OCE</a></li>
					<li><a href="#">TR</a></li>
					<li><a href="#">RU</a></li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-2 col-sm-4">
				<div>
					<div class="itemHolder">
						<img src="@{'public/images/3611.png'}">
						<div class="info" id="3611">
							<div class="name">Razorfins</div>
							<div class="buyRate">Buy Rate: <span>0</span></div>
							<div class="winRate">Win Rate: <span>0</span></div>
						</div>
					</div>
				</div>
				<div>
					<div class="itemHolder">
						<img src="@{'public/images/3612.png'}">
						<div class="info" id="3612">
							<div class="name">Ironbacks</div>
							<div class="buyRate">Buy Rate: <span>0</span></div>
							<div class="winRate">Win Rate: <span>0</span></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div>
					<div class="itemHolder">
						<img src="@{'public/images/3613.png'}">
						<div class="info" id="3613">
							<div class="name">Plundercrabs</div>
							<div class="buyRate">Buy Rate: <span>0</span></div>
							<div class="winRate">Win Rate: <span>0</span></div>
						</div>
					</div>
				</div>
				<div>
					<div class="itemHolder">
						<img src="@{'public/images/3614.png'}">
						<div class="info" id="3614">
							<div class="name">Ocklepods</div>
							<div class="buyRate">Buy Rate: <span>0</span></div>
							<div class="winRate">Win Rate: <span>0</span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$('.tab5').addClass('selected');

	var data;

	$.ajax({
		url: '@{Brawlers.getAllBrawlersInfo}',
		type: 'POST',
		dataType: 'json'
	})
	.done(function(info) {
		$('.loading').slideUp('600');
		data = info;
		setItemsRegion("NA");
	});

	function setItemsRegion(region){
		var inf = data[region];
		var keys = Object.keys(inf);
		for(key in keys){
			var llave = keys[key];
			$('#'+llave+' .buyRate span').text(inf[llave]["bR"].toFixed(2)+"%");
			$('#'+llave+' .winRate span').text(inf[llave]["wR"].toFixed(2)+"%");
		}
	}

	$('#dropDown1 li a').click(function(event) {
		event.preventDefault();
		var selected = $(this).text();    
		$('#dropdownMenu1').text(selected);
		setItemsRegion(selected);
	});
</script>