amarillo=#E7B53D;

html
	height 100%
	
	body
		background url('../images/background.jpg') center center no-repeat
		background-attachment fixed
		background-size cover
		color white
		font-family Muli
		min-height 100%
		padding 1px 0 110px 0
		position relative
		
		.loading
			align-items center
			background-color black
			display -webkit-flex
			display flex
			height 100%
			left 0
			opacity .8
			position fixed
			top 0
			width 100%
			z-index 1000
			
			.centered
				display inline-block
				margin 0 auto
				
				.spinner
					-moz-animation spin 1s linear infinite
					-webkit-animation spin 1s linear infinite
					animation spin 1s linear infinite
					height 80px
		
		.overlay
			background-color black
			bottom 0
			left 0
			opacity .4
			position absolute
			right 0
			top 0
			z-index -1
			
		.divider
			background url('../images/divider.png') center no-repeat
			height 120px
			
		.view-title
			text-align center
			
			.title-text
				font-weight bold
				margin-top 0
				text-transform uppercase
				margin-bottom 20px
				
			.legend
				font-size 18px
				margin 0
				
				span
					text-shadow 0 0 50px amarillo
					color amarillo
			
		.top-menu
			background rgba(black, .5)
			margin-bottom 40px
			padding 15px
			z-index 1000
			
			@media screen and (max-width: 991px)
				text-align center
			
			.brand
				display inline-block
				
				a
					display inline-block
				
					.logo
						height 80px
				
			.tabs
				display inline-block
				float right
				
				.tab
					color white
					font-size 18px
					font-weight bold
					text-decoration none
					text-transform uppercase
					line-height 80px
					padding 0 10px
					transition color 0.6s ease
					
					&:hover
						color amarillo
					
					&.selected
						color amarillo
						
		.app-index
			
			.row
				margin-top 60px
			
				.indexOption
					display block
					text-align center
					text-decoration none
					
					@media screen and (max-width: 991px)
						margin-bottom 30px
					
					&:hover
						.iconbg
							box-shadow 0px 0px 10px 3px rgba(amarillo,0.2)
							
						.indexIconText
							text-shadow 0px 1px 6px rgba(amarillo,0.4)

					.iconbg
						background rgba(0, 0, 0, .8)
						border-radius 50px
						box-shadow 0px 0px 10px 1px rgba(black,0.8)
						display inline-block
						padding 15px
						transition all 0.6s ease
						
						.indexIcon
							max-width 150px
							min-width 80px
							width 100%
							
					.indexIconText
						color amarillo
						display block
						font-size 18px
						font-weight bold
						margin-top 15px
						text-decoration none
						text-transform uppercase
						transition all 0.6s ease
						
		.app-regional-index
			
			.worldStats
				height 400px
				text-align center
				
				.worldCanvasHolder
					height 100%
					
					.barChart
						height 100%

			
			.regionalResumeTable
				border-color rgba(amarillo, .25)
				border-radius 5px
				border-style solid
				border-width 0 1px 0 1px
				box-shadow 0px 0px 10px 5px rgba(amarillo, .05)
				overflow hidden
				
				.rrt-header
					background rgba(black,0.75)
					border-bottom 1px solid rgba(amarillo, .25)
					padding 20px
					
					h3
						color amarillo
						margin 0
						text-align center
					
				.rrt-body
					background rgba(0, 0, 0, .5)
					padding 20px
					
					table
						width 100%
						
						td
							line-height 30px
						
						.label
							font-weight bold
							color amarillo
							font-size 12px
							
						.info
							font-size 12px
							
					.rrt-divider
						height 1px
						background rgba(amarillo, .25)
						margin 10px -20px
						
					h4
						color amarillo
						margin 0
						text-align center
						
					.canvasHolder
						height 300px
						margin-top 20px
						
						.radarChart
							height 100%
							width 100%
						
		.app-champions-index
			margin-bottom 129px
			
			.championResume
				border-color rgba(amarillo, .25)
				border-radius 5px
				border-style solid
				border-width 0 1px 0 1px
				box-shadow 0px 0px 10px 5px rgba(amarillo, .05)
				overflow hidden

				.header
					background rgba(black,0.75)
					border-bottom 1px solid rgba(amarillo, .25)
					padding 20px
					position relative
					
					#crImg
						border-radius 50%
						display inline-block
						height 80px
						width 80px
						position relative
						
						.animation
							-moz-animation spin 3s linear infinite
							-webkit-animation spin 3s linear infinite
							animation spin 3s linear infinite
							border-color amarillo
							border-radius 50%
							border-style solid
							border-width 2px 0 0 0
							box-shadow 0px 0px 5px amarillo
							height 80px
							left 0
							position absolute
							top 0
							width 80px
					
					h1
						color amarillo
						display inline-block
						left 110px
						margin 0
						position absolute
						top 36px
						
					.championStats
						display inline-block
						position absolute
						left 105px
						top 76px
						
						.stat
							margin 0 5px
							display inline-block
							color amarillo
							
							.data
								color white
								
								&.negative
									color red
									
								&.positive
									color green

						
						
				.content
					background rgba(black, .5)
					padding 20px
					
					.contentDivider
						background rgba(amarillo,.25)
						height 1px
						margin 20px -20px
					
					.row
						margin 0
						
						.graphCol
							text-align center
							
							.graphTitle
								color amarillo
								margin-bottom 20px
								margin-top 0
								text-transform uppercase
						
							.canvasHolder
								display inline-block
								height 200px
								width 200px
								
								.polarChart
									height 100%
									width 100%
									
							.polarLegend
								display inline-block
								margin 34px 0px
								vertical-align top
								
								ul
									list-style none
									margin 0
									padding-left 5px
									text-align left
									
									li
										border-radius 5px
										cursor default
										display block
										font-size 14px
										line-height 10px
										margin-bottom 4px
										padding 10px 10px 10px 40px
										position relative
										
										img
											border-radius 50%
											display block
											height 30px
											left 0
											position absolute
											top 0
											width 30px
											
					.itemList
						text-align center
						
						&.uno
							
							@media screen and (max-width: 991px)
								margin-bottom 20px
						
						h4
							color amarillo
							margin-bottom 20px
							margin-top 0
							text-transform uppercase
							
						.itemInfo:nth-child(even) .itemIcon {
							border 1px solid rgba(amarillo, .5)
						}
						
						.itemInfo:nth-child(odd) .itemIcon {
							border 1px solid rgba(silver, .5)
						}
						
						.itemInfo:nth-last-child(1) {
							margin 10px 0 0 0
						}
						
						.itemInfo
							margin 10px 0
							
							.itemIcon
								border-radius 50%
								height 50px
								
								
							.itemData
								display inline-table
								vertical-align middle
								margin-left 10px
								
								.center
									display table-cell
									text-align left
									
									.name
										color amarillo
										font-weight bold
										
										span
											color white
											font-weight normal
											
									.rate
										color amarillo
										font-weight bold
										
										span
											color white
											font-weight normal
			
			.champions-grid
				font-size 0
				text-align center

				.champion
					-webkit-filter: grayscale(60%)
					display inline-block !important
					text-align center
					text-decoration none
					transition all 0.5s ease
					margin 5px
					
					&.hidden
						opacity 0
						
					&.visible
						opacity 1
					
					&:hover
						-webkit-filter: grayscale(0)
						
						.champion-img
							background-position center 25%
							background-size auto 300px
							
							.name
								opacity 1
					
					.champion-img
						background-position center
						background-repeat no-repeat
						background-size auto 225px
						height 200px
						position relative
						transition all 0.4s ease
						width 100px
						
						.name
							background linear-gradient(transparent, black 90%)
							bottom 0
							color amarillo
							font-size 14px
							height 100px
							line-height 172px
							opacity 0
							position absolute
							transition all 0.4s ease
							width 100%
			
		.footer
			background-color rgba(white, .05)
			bottom 0
			font-size 12px
			padding 15px 0
			position absolute
			width 100%
			
			.container
				line-height 30px
				
				.text
					display inline-block
					margin 0
					
@-moz-keyframes spin {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}
					
@font-face {
	font-family Muli
	font-weight normal
	src url('../fonts/Muli.ttf')
}

@font-face {
	font-family Muli
	font-weight bold
	src url('../fonts/Muli-Bold.ttf')
}