#{extends 'main.html' /}

<div class="app-about-index">
	<div class="container">

		<div class="view-title">
			<h1 class="title-text">About</h1>
			<p class="legend">Here you can <span>select a champion</span> to see stats related to the champion, items of the Black Market he bought, pick rate, win rate and more.</p>
		</div>
	</div>
</div>

<footer class="footer">
	<div class="container">
		<p class="text">Bilgewater Brawlers Bay isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends.<br>League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
	</div>
</footer>

<script>
	$('.tab6').addClass('selected');
</script>