<!DOCTYPE html>

<html>
<head>
	<title>Bilgewater Brawlers Bay</title>
	<meta charset="${_response_encoding}">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.min.css'}">
	<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
	<script src="@{'/public/javascripts/jquery-1.11.3.js'}" type="text/javascript"></script>
	<script type="text/javascript" src="@{'/public/javascripts/bootstrap.min.js'}"></script>
	<script type="text/javascript" src="@{'/public/javascripts/jquery-viewportchecker.js'}"></script>
	<script type="text/javascript" src="@{'/public/javascripts/Chart.min.js'}"></script>
</head>
<body>

	<div class="overlay"></div>

	<div class="top-menu">
		<div class="container">
			<div class="brand">
				<a href="@{Application.index}"><img src="@{'public/images/logo.png'}" class="logo"></a>
			</div>
			<div class="tabs">
				<a href="@{Application.index}" class="tab tab1">Home</a>
				<a href="#" class="tab tab2">Regional Stats</a>
				<a href="@{Champions.index}" class="tab tab3">Champions</a>
				<a href="#" class="tab tab4">Items</a>
				<a href="#" class="tab tab5">Brawlers</a>
				<a href="#" class="tab tab6">About</a>
			</div>
		</div>
	</div>

	#{doLayout /}

	<footer class="footer">
		<div class="container">
			<p class="text">Bilgewater Brawlers Bay isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends.<br>League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
		</div>
	</footer>
</body>
</html>
