#{extends 'main.html' /}

<div class="app-champions-index">
	<div class="container">
		
		<div class="view-title">
			<h1 class="title-text">Champion Stats</h1>
			<p class="legend">Here you can <span>select a champion</span> to see stats related to the champion, items of the Black Market he bought, pick rate, win rate and more.</p>
		</div>

		<div class="divider"></div>

		<div class="champions-grid">
			<a class="champion" href="#">
				<div class="champion-img" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Aatrox_0.jpg');">
					<div class="name">Aatrox</div>
				</div>
			</a>
			<a class="champion" href="#">
				<div class="champion-img" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Ahri_0.jpg');">
					<div class="name">Ahri</div>
				</div>
			</a>
			<a class="champion" href="#">
				<div class="champion-img" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Anivia_0.jpg');">
					<div class="name">Anivia</div>
				</div>
			</a>
			<a class="champion" href="#">
				<div class="champion-img" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Alistar_0.jpg');">
					<div class="name">Alistar</div>
				</div>
			</a>
			<a class="champion" href="#">
				<div class="champion-img" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Heimerdinger_0.jpg');">
					<div class="name">Heimerdinger</div>
				</div>
			</a>
			<a class="champion" href="#">
				<div class="champion-img" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Akali_0.jpg');">
					<div class="name">Akali</div>
				</div>
			</a>
			<a class="champion" href="#">
				<div class="champion-img" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Amumu_0.jpg');">
					<div class="name">Amumu</div>
				</div>
			</a>
			<a class="champion" href="#">
				<div class="champion-img" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Ashe_0.jpg');">
					<div class="name">Ashe</div>
				</div>
			</a>
			<a class="champion" href="#">
				<div class="champion-img" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Azir_0.jpg');">
					<div class="name">Azir</div>
				</div>
			</a>
			<a class="champion" href="#">
				<div class="champion-img" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Bard_0.jpg');">
					<div class="name">Bard</div>
				</div>
			</a>
			<a class="champion" href="#">
				<div class="champion-img" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Blitzcrank_0.jpg');">
					<div class="name">Blitzcrank</div>
				</div>
			</a>
			<a class="champion" href="#">
				<div class="champion-img" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Brand_0.jpg');">
					<div class="name">Brand</div>
				</div>
			</a>
			<a class="champion" href="#">
				<div class="champion-img" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Braum_0.jpg');">
					<div class="name">Braum</div>
				</div>
			</a>
			<a class="champion" href="#">
				<div class="champion-img" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Caitlyn_0.jpg');">
					<div class="name">Caitlyn</div>
				</div>
			</a>
			<a class="champion" href="#">
				<div class="champion-img" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Cassiopeia_0.jpg');">
					<div class="name">Cassiopeia</div>
				</div>
			</a>
			<a class="champion" href="#">
				<div class="champion-img" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Corki_0.jpg');">
					<div class="name">Corki</div>
				</div>
			</a>
			<a class="champion" href="#">
				<div class="champion-img" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Darius_0.jpg');">
					<div class="name">Darius</div>
				</div>
			</a>
			<a class="champion" href="#">
				<div class="champion-img" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Diana_0.jpg');">
					<div class="name">Diana</div>
				</div>
			</a>
			<a class="champion" href="#">
				<div class="champion-img" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Draven_0.jpg');">
					<div class="name">Draven</div>
				</div>
			</a>
			<a class="champion" href="#">
				<div class="champion-img" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Elise_0.jpg');">
					<div class="name">Elise</div>
				</div>
			</a>
			<a class="champion" href="#">
				<div class="champion-img" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Evelynn_0.jpg');">
					<div class="name">Evelynn</div>
				</div>
			</a>
			<a class="champion" href="#">
				<div class="champion-img" style="background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Ezreal_0.jpg');">
					<div class="name">Ezreal</div>
				</div>
			</a>
		</div>
	</div>
</div>

<script>
	(function(){
		$('.tab3').addClass('selected');

		$('.champion').addClass("hidden").viewportChecker({
			classToAdd: 'visible animated fadeIn',
			offset: 100
		});
	})();
</script>