#{extends 'main.html' /}

<div class="loading">
	<div class="centered">
		<img class="spinner" src="@{'public/images/spinner.svg'}">
	</div>
</div>

<div class="app-champions-index">
	<div class="container">

		<div class="view-title">
			<h1 class="title-text">Champion Stats</h1>
			<p class="legend">Here you can <span>select a champion</span> to see stats related to the champion, items of the Black Market he bought, pick rate, win rate and more.</p>
		</div>

		<div class="divider">
			<a name="aqui"></a>
		</div>

		<div class="championResume">
			<div class="header">
				<div id="crImg">
					<div class="animation"></div>
				</div>
				<h1 id="crName"></h1>
				<div class="championStats">
					<div class="stat">
						Avg Kills: <span class="data">3</span>
					</div>
					<div class="stat">
						Avg Deaths: <span class="data">3</span>
					</div>
					<div class="stat">
						Avg Assists: <span class="data">3</span>
					</div>
					<div class="stat">
						Win Rate: <span class="data">3</span>
					</div>
					<div class="stat">
						Play Rate: <span class="data">3</span>
					</div>
				</div>
			</div>
			<div class="content">
				<div class="row">
					<div class="col-md-6 graphCol">
						<h4 class="graphTitle">Brawlers Buy Rate</h4>
						<div class="canvasHolder">
							<canvas class="polarChart" id="brawlersChart1"></canvas>
						</div>
						<div class="polarLegend">
							<ul class="polararea-legend">
								<li><img src="@{'public/images/3611.png'}" style="border: 2px solid #8D0B1D">Razorfins</li>
								<li><img src="@{'public/images/3612.png'}" style="border: 2px solid #D7BC8D">Ironbacks</li>
								<li><img src="@{'public/images/3613.png'}" style="border: 2px solid #E8A549">Plundercrabs</li>
								<li><img src="@{'public/images/3614.png'}" style="border: 2px solid #45EEA4">Ocklepods</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 graphCol">
						<h4 class="graphTitle">Brawlers Win Rate</h4>
						<div class="canvasHolder">
							<canvas class="polarChart" id="brawlersChart2"></canvas>
						</div>
						<div class="polarLegend">
							<ul class="polararea-legend">
								<li><img src="@{'public/images/3611.png'}" style="border: 2px solid #8D0B1D">Razorfins</li>
								<li><img src="@{'public/images/3612.png'}" style="border: 2px solid #D7BC8D">Ironbacks</li>
								<li><img src="@{'public/images/3613.png'}" style="border: 2px solid #E8A549">Plundercrabs</li>
								<li><img src="@{'public/images/3614.png'}" style="border: 2px solid #45EEA4">Ocklepods</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="contentDivider"></div>

				<div class="row">
					<div class="col-md-6">
						<div class="itemList uno">
							<h4>Relevant Black Market's Items Buy Rate</h4>
							<div class="itemInfo">
								<img src="@{'public/images/3652.png'}" class="itemIcon">
								<div class="itemData">
									<div class="center">
										<div class="name">Name: <span>Typoon Claws</span></div>
										<div class="rate">Buy Rate: <span>65,3%</span></div>
									</div>
								</div>
							</div>
							<div class="itemInfo">
								<img src="@{'public/images/3652.png'}" class="itemIcon">
								<div class="itemData">
									<div class="center">
										<div class="name">Name: <span>Typoon Claws</span></div>
										<div class="rate">Buy Rate: <span>65,3%</span></div>
									</div>
								</div>
							</div>
							<div class="itemInfo">
								<img src="@{'public/images/3652.png'}" class="itemIcon">
								<div class="itemData">
									<div class="center">
										<div class="name">Name: <span>Typoon Claws</span></div>
										<div class="rate">Buy Rate: <span>65,3%</span></div>
									</div>
								</div>
							</div>
							<div class="itemInfo">
								<img src="@{'public/images/3652.png'}" class="itemIcon">
								<div class="itemData">
									<div class="center">
										<div class="name">Name: <span>Typoon Claws</span></div>
										<div class="rate">Buy Rate: <span>65,3%</span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="itemList">
							<h4>Relevant Black Market's Items Win Rate</h4>
							<div class="itemInfo">
								<img src="@{'public/images/3652.png'}" class="itemIcon">
								<div class="itemData">
									<div class="center">
										<div class="name">Name: <span>Typoon Claws</span></div>
										<div class="rate">Win Rate: <span>65,3%</span></div>
									</div>
								</div>
							</div>
							<div class="itemInfo">
								<img src="@{'public/images/3652.png'}" class="itemIcon">
								<div class="itemData">
									<div class="center">
										<div class="name">Name: <span>Typoon Claws</span></div>
										<div class="rate">Win Rate: <span>65,3%</span></div>
									</div>
								</div>
							</div>
							<div class="itemInfo">
								<img src="@{'public/images/3652.png'}" class="itemIcon">
								<div class="itemData">
									<div class="center">
										<div class="name">Name: <span>Typoon Claws</span></div>
										<div class="rate">Win Rate: <span>65,3%</span></div>
									</div>
								</div>
							</div>
							<div class="itemInfo">
								<img src="@{'public/images/3652.png'}" class="itemIcon">
								<div class="itemData">
									<div class="center">
										<div class="name">Name: <span>Typoon Claws</span></div>
										<div class="rate">Win Rate: <span>65,3%</span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="divider di2"></div>

		<div class="champions-grid">
			#{list items:campeones, as: 'campeon'}
			<a class="champion" val="${campeon.id}" href="#">
				<div class="champion-img" style="background-image: url('${campeon.loading}');">
					<div class="name">${campeon.name}</div>
				</div>
			</a>
			#{/list}
		</div>
	</div>
</div>

<script>

	$('.championResume').hide();
	$('.di2').hide();

	function scrollToAnchor(aid){
		var aTag = $("a[name='"+ aid +"']");
		$('html,body').animate({scrollTop: aTag.offset().top},'slow');
	}

	$('.champion').click(function(event) {
		event.preventDefault();
		scrollToAnchor('aqui');
		var champ = $(this).attr('val');
		var name = $("div > div", this).text();
		$('.championResume').slideDown();
		$('.di2').slideDown();

		$.ajax({
			url: '@{Champions.getChampionResume}',
			type: 'POST',
			data: {id: champ},
		})
		.done(function(data) {
			$('#crName').text(name);
			$('#crImg').css({
				'background': 'url('+data+')',
				'background-position': 'center',
				'background-size': '90px 90px'
			});;
			setBrawlersGraphBuyRate();
			setBrawlersGraphWinRate();
		});

	});

	function setBrawlersGraphBuyRate(){
		var data = [
		{
			value: 300,
			color:"#8D0B1D",
			highlight: "#D1475A",
			label: "Razorfins"
		},
		{
			value: 50,
			color: "#D7BC8D",
			highlight: "#F4E3C5",
			label: "Ironbacks"
		},
		{
			value: 100,
			color: "#E8A549",
			highlight: "#F4C07A",
			label: "Plundercrabs"
		},
		{
			value: 40,
			color: "#45EEA4",
			highlight: "#8FF6C9",
			label: "Ocklepods"
		}

		];

		var ctx = $("#brawlersChart1").get(0).getContext("2d");
		var polarAreaChart = new Chart(ctx).PolarArea(data, {
			segmentStrokeColor: "#fff",
			segmentStrokeWidth : 1,
			scaleLineColor: "rgba(255,255,255,0.2)"
		});
	}

	function setBrawlersGraphWinRate(){
		var data = [
		{
			value: 300,
			color:"#8D0B1D",
			highlight: "#D1475A",
			label: "Razorfins"
		},
		{
			value: 50,
			color: "#D7BC8D",
			highlight: "#F4E3C5",
			label: "Ironbacks"
		},
		{
			value: 100,
			color: "#E8A549",
			highlight: "#F4C07A",
			label: "Plundercrabs"
		},
		{
			value: 40,
			color: "#45EEA4",
			highlight: "#8FF6C9",
			label: "Ocklepods"
		}

		];

		var ctx = $("#brawlersChart2").get(0).getContext("2d");
		var polarAreaChart = new Chart(ctx).PolarArea(data, {
			segmentStrokeColor: "#fff",
			segmentStrokeWidth : 1,
			scaleLineColor: "rgba(255,255,255,0.2)"
		});
	}

	$(window).load(function() {
		$(this).scrollTop(0);
		$('.loading').slideUp('600');
	});

	(function(){
		$('.tab3').addClass('selected');

		$('.champion').addClass("hidden").viewportChecker({
			classToAdd: 'visible animated fadeIn',
			offset: 100
		});
	})();
</script>